.hidden {
  display: none;
}

label {
  margin-bottom: 10px;
  display: block;
}

body {
  background: #ffffff;
}
.dropdown-menu {
  padding: 10px;
}
.dropdown-toggle {
  color: rgb(245, 98, 0);
}
.dropdown-toggle:hover {
  color: black;
}
.dropdown-item, .dropdown-header {
  float: left;
  padding: 5px;
}

#brand {
  font-size: 30px;
  color: rgb(245, 98, 0);
  margin-right: 10px;
}

.navbar {
  height: 80px;
  box-shadow: 0 1px 20px rgba(0,0,0,.2);
}

.profile-image {
  border: 2px solid  rgb(245, 98, 0);
}

.notLogged {
  text-align: center;
  width: 80%;
  margin: 50px auto ;
}
