.hidden {
  display: none;
}

label {
  margin-bottom: 10px;
  display: block;
}

body {
  background: #ffffff;
}

#brand {
  font-size: 30px;
  color: rgb(245, 98, 0);
  margin-right: 10px;
}

.navbar {
  height: 70px;
  box-shadow: 0 1px 20px rgba(0,0,0,.2);
}

#avatar-img {
  width: 50px;
  float: right;
  border-radius: 50px;
  border: 2px solid  rgb(245, 98, 0);
}
